# clang-tidy checks

Checks: '-*,
    bugprone-*,
    #cppcoreguidelines-*,
    #clang-analyzer-*,
    #readability-*,
    #performance-*,
    #misc-*,
    ###################
    '

#WarningsAsErrors:  '*'
